<a href="https://colab.research.google.com/gist/rohitbhardwaj0/53d5aea3b40f3c9053e17e3cdd6aaecf/untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Car Price Prediction

import libraries

In [ ]:
import numpy as np
import pandas as pd

Importing dataset

In [18]:
import pandas as pd
dataset = pd.read_csv('car_data.csv')
dataset.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [10]:
dataset['km_driven'].isnull().sum()

0

In [13]:
dataset['owner'].value_counts()

First Owner             2832
Second Owner            1106
Third Owner              304
Fourth & Above Owner      81
Test Drive Car            17
Name: owner, dtype: int64

In [14]:
dataset['seller_type'].value_counts()

Individual          3244
Dealer               994
Trustmark Dealer     102
Name: seller_type, dtype: int64

Encoding the data

In [16]:
x = dataset.iloc[:, [1,3,4,6]].values
y = dataset.iloc[:, 2].values

In [20]:
y

array([ 60000, 135000, 600000, ..., 110000, 865000, 225000])

In [21]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
x[:,2] = lb.fit_transform(x[:,2])
lb1 = LabelEncoder()
x[:,3] = lb1.fit_transform(x[:,3])

In [ ]:
x

Splitting data into Train and Test Set

In [32]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.05, random_state = 0)

print(x.shape)
print(x_train.shape)
print(x_test.shape)
print(x_train[:, :])

(4340, 4)
(4123, 4)
(217, 4)
[[2016 36000 1 1]
 [2014 70000 4 1]
 [2016 23000 4 1]
 ...
 [2016 22000 4 1]
 [2015 70000 1 1]
 [2013 62000 4 1]]

Training the model

In [33]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=300,random_state=0)
regressor.fit(x_train,y_train)

RandomForestRegressor(n_estimators=300, random_state=0)

In [34]:
accuracy = regressor.score(x_test,y_test)
print(accuracy*100,'%')

85.74236935963135 %

Performing Test on given input

In [47]:
new_data=[2017,7000,'Petrol','Manual']
new_data[2] = lb.transform([new_data[2]])[0]
new_data[3] = lb1.transform([new_data[3]])[0]

In [59]:
print(new_data)
regressor.predict([new_data])

[2017, 7000, 4, 1]

array([624428.57142857])

Saving the model and Encoder using pickle

In [51]:
import pickle
pickle.dump(regressor,open('regressor.pkl','wb'))
pickle.dump(lb,open('lb','wb'))
pickle.dump(lb1,open('lb1','wb'))